<div class="agregar-item-container">
    <h2>Agregar Item al ODS {{ odsId }} - Nivel {{ nivel }}</h2>
  
    <div class="form-group">
      <label for="palabra">Palabra:</label>
      <input id="palabra" [(ngModel)]="palabra" placeholder="Ingrese la palabra" />
    </div>
  
    <div class="form-group">
      <label for="descripcion">Descripción:</label>
      <input id="descripcion" [(ngModel)]="descripcion" placeholder="Ingrese la descripción" />
    </div>
    <div class="form-group">
        <label for="descripcion">Link de información:</label>
        <input id="descripcion" [(ngModel)]="linkBio" placeholder="Ingrese link: Ej https:/..." />
      </div>
  
    <div class="form-group">
      <label for="imagen">Imagen:</label>
      <input type="file" id="imagen" (change)="onFileSelected($event)" accept="image/*" />
    </div>
  
    <div *ngIf="imagenURL" class="image-preview">
      <img [src]="imagenURL" alt="Vista previa de la imagen" />
    </div>
  
    <div class="button-group">
      <button class="btn btn-success" (click)="agregarItem()" [disabled]="!palabra || !descripcion || !imagenSeleccionada">Registrar</button>
      <button class="btn btn-danger" (click)="volver()">Volver</button>
    </div>
  </div>