.navbar-custom {
    background-color: #098377f6; /* Color vinotinto */
    border: 2px solid black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para el navbar */
}
.center-img {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    position: relative;
}
.center-img::before {
    content: ''; 
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to right, #098377ca, transparent 50%, transparent 50%, #098377f6);
    z-index: -1; /* Colocar el fondo difuminado detrás de la imagen */
}
.img-bordered {
    position: relative;
    z-index: 1;
    border-radius: 8px; /* Bordes redondeados */
    background-color: white; /* Fondo blanco detrás de la imagen */
    padding: 5px; /* Espacio entre la imagen y el borde */
    border: 2px solid black;
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.9);
}
a{
color: #ffffff;
}
.btn-custom {
    background-color: #ffffff;
    color: #098377f6;
    border-color: #098377f6;
    border: 2px solid black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.btn-custom:hover {
    background-color: #098377f6;
    color: white;
} 

/* Para colores de fondo */
:host {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Altura mínima de 100% de la ventana */
  }
  
  .router-content {
    background-color: #faf6f6; /* Color de fondo azul claro */
    padding: 20px;
    flex: 1; /* Ocupar el espacio disponible */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centrar el contenido verticalmente */
  }


  
  .notification-icon i {
    margin-right: 5px;
  }
  