.navbar-custom {
    background-color: #098377f6; 
    border: 2px solid black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}
.center-img {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    position: relative;
}
.center-img::before {
    content: ''; 
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to right, #098377ca, transparent 50%, transparent 50%, #098377f6);
    z-index: -1; 
}
.img-bordered {
    position: relative;
    z-index: 1;
    border-radius: 8px;
    background-color: white; 
    padding: 5px; 
    border: 2px solid black;
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.9);
}
a{
color: #ffffff;
}
.btn-custom {
    background-color: #ffffff;
    color: #098377f6;
    border-color: #098377f6;
    border: 2px solid black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.btn-custom:hover {
    background-color: #098377f6;
    color: white;
} 


:host {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
  }
  
  .router-content {
    background-color: #faf6f6; 
    padding: 20px;
    flex: 1; 
    display: flex;
    flex-direction: column;
    justify-content: center; 
  }

  .notification-icon i {
    margin-right: 5px;
  }
  